<script>
	import Writing from '../componets/Writing.svelte';

	export let writingIsVisible = false;
</script>

<div
	class="bg-primary-80 drop-shadow-md fixed bottom-5 right-5 flex justify-center items-center rounded-full cursor-pointer transition-all hover:bg-[#02E3B2] hover:scale-110 hover:rotate-45 p-1"
>
	<button
		class="flex justify-center items-center size-16"
		on:click={() => (writingIsVisible = !writingIsVisible)}
	>
		<svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
			><path
				d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
			/></svg
		>
	</button>
</div>
