<script lang="ts">
	import { fade, fly } from 'svelte/transition';
	import toast from 'svelte-french-toast';

	export let editIsVisible = false;
	export let dataNote: any = {};
	export let notes: any[] = [];

	function editFunc() {
		if (dataNote.title === '') {
			toast.error('Title is empty!');
			return;
		}
		notes[notes.findIndex((v) => v.id === dataNote.id)] = dataNote;
		notes = [...notes];
		editIsVisible = false;
	}
</script>

{#if editIsVisible}
	<div
		transition:fade
		class="bg-transparent backdrop-blur-sm h-screen w-screen fixed top-0 flex justify-center items-center z-10"
	>
		<div
			transition:fly={{ y: 200, duration: 500 }}
			class="bg-primary-100 w-4/5 h-4/5 rounded-md flex justify-between flex-col items-center space-y-10 px-4 py-5"
		>
			<div class="w-full">
				<input
					class="bg-primary-100 outline-none font-[800] text-[30px] h-auto w-full"
					placeholder="Title"
					type="text"
					bind:value={dataNote.title}
				/>
			</div>
			<div class="w-full">
				<textarea
					placeholder="Your contents"
					class="bg-primary-100 outline-none font-[400] h-96 w-full"
					bind:value={dataNote.text}
				></textarea>
			</div>

			<div class="flex flex-row space-x-2">
				<button
					on:click={editFunc}
					class="bg-primary-80 w-32 py-2 px-4 rounded-md transition-all hover:bg-[#02E3B2] hover:scale-110"
				>
					Save
				</button>
				<button
					on:click={() => (editIsVisible = false)}
					class="bg-red-500 w-32 py-2 px-4 rounded-md transition-all hover:bg-red-400 hover:scale-110"
				>
					Cancel
				</button>
			</div>
		</div>
	</div>
{/if}
