<div
	class="fixed select-none top-0 w-full h-50 bg-primary-60 flex flex-col justify-center items-center border-b-2 border-primary-100 rounded-b-lg overflow-y-hidden p-3"
>
	<h1 class="text-white font-jetbrains-mono font-[400] text-xl mb-1">Noote</h1>
</div>
