<script lang="ts">
	import { fly } from 'svelte/transition';

	export let editIsVisible = false;
	export let dataNote: any = {};
	export let notes: any[] = [];
	export let search = '';

	const remove = (note: any) => {
		notes = [...notes.filter((value: any) => value.id !== note.id)];
	};

	const showNote = (note: any) => {
		dataNote = note;
		editIsVisible = true;
	};

	function findNote() {
		notes = notes.map((value) => {
			if (value.title.toLowerCase().includes(search.toLowerCase())) value.visible = true;
			else value.visible = false;
			return value;
		});
	}
</script>

<div class="bg-none h-screen font-jetbrains-mono font-[400] flex flex-col items-center">
	<div class="flex flex-col justify-center items-center mb-5 mt-24">
		<span>
			<input
				bind:value={search}
				type="text"
				placeholder="Search"
				class="bg-primary-20 text-white rounded-md border-b-2 border-primary-100 outline-none transition-all hover:bg-[#0879A7] hover:scale-105 mr-1 p-1"
			/>
			<button
				on:click={findNote}
				class="bg-primary-80 text-black h-full rounded-md transition-all hover:bg-[#02E3B2] hover:scale-110 ml-1 px-3"
			>
				Search
			</button></span
		>
	</div>
	<div class="min-h-[100px] w-full p-3">
		{#each notes as note (note.id)}
			<div
				transition:fly={{ x: 200, duration: 300 }}
				data-visible={note.visible}
				class="data-[visible=false]:hidden bg-primary-20 select-none flex justify-between flex-row items-center space-x-4 w-full min-h-10 border-l-8 border-primary-100 rounded-md transition-all hover:scale-105 mb-2 py-2 pl-3 pr-1"
			>
				<div class="w-[190px]">
					<h3 class="text-white font-bold text-xl truncate">{note.title}</h3>
					<p class="text-white font-bold text-xs truncate">{note.text}</p>
				</div>
				<div class="flex flex-row space-x-2">
					<button
						class="bg-primary-80 py-2 px-4 rounded-md transition-all hover:bg-[#02E3B2] hover:scale-110"
						on:click={() => showNote(note)}
					>
						<svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
							><path
								d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"
							/></svg
						>
					</button>
					<button
						class="bg-red-500 py-2 px-4 rounded-md transition-all hover:bg-red-400 hover:scale-110"
						on:click={() => remove(note)}
					>
						<svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
							><path
								d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
							/></svg
						>
					</button>
				</div>
			</div>
		{/each}
	</div>
</div>
