<script lang="ts">
	import { fade, fly } from 'svelte/transition';
	import toast from 'svelte-french-toast';

	export let writingIsVisible = false;
	let scriptData = '';
	let titleData = '';
	export let notes: any = [];

	let addNote = () => {
		if (titleData === '') {
			toast.error('Title is empty!');
			return;
		}
		notes = [
			...notes,
			{
				id: Math.floor(Math.random() * 100),
				title: titleData,
				text: scriptData,
				visible: true
			}
		];
		writingIsVisible = false;
		scriptData = '';
		titleData = '';
	};
</script>

{#if writingIsVisible}
	<div
		transition:fade
		class="bg-transparent backdrop-blur-sm h-screen w-screen fixed top-0 flex justify-center items-end z-10"
	>
		<div
			transition:fly={{ y: 200, duration: 500 }}
			class="bg-primary-100 w-full h-4/5 rounded-t-md flex justify-between flex-col items-center space-y-10 px-4 py-5"
		>
			<div class="w-full">
				<input
					bind:value={titleData}
					class="bg-primary-100 outline-none font-[800] text-[30px] h-auto w-full"
					placeholder="Title"
					type="text"
				/>
			</div>
			<div class="w-full">
				<textarea
					bind:value={scriptData}
					placeholder="Your contents"
					class="bg-primary-100 outline-none font-[400] h-96 w-full"
				></textarea>
			</div>

			<div class="flex flex-row space-x-2">
				<button
					on:click={addNote}
					class="bg-primary-80 w-32 py-2 px-4 rounded-md transition-all hover:bg-[#02E3B2] hover:scale-110"
				>
					Save
				</button>
				<button
					on:click={() => (writingIsVisible = false)}
					class="bg-red-500 w-32 py-2 px-4 rounded-md transition-all hover:bg-red-400 hover:scale-110"
				>
					Cancel
				</button>
			</div>
		</div>
	</div>
{/if}
