<script lang="ts">
	import Nav from '../componets/Nav.svelte';
	import Notes from '../componets/Notes.svelte';
	import Add from '../componets/Add.svelte';
	import Writing from '../componets/Writing.svelte';
	import Edit from '../componets/Edit.svelte';

	let writingIsVisible = false;
	let editIsVisible = false;
	let dataNote: any = [];
	let notes: any = [];
</script>

<body class="bg-primary-40 font-jetbrains-mono">
	<Nav />
	<Notes bind:notes bind:editIsVisible bind:dataNote />
	<Add bind:writingIsVisible />
	<Writing bind:writingIsVisible bind:notes />
	<Edit bind:editIsVisible bind:dataNote bind:notes />
</body>
